In [106]:
import pandas as pd

df = pd.read_csv(r'146987data.csv',encoding='gbk')

df1 = df[['门店编号','兑券日期','POS机号','流水号','销售额']]

df1['门店编号-兑券日期-POS机号-流水号'] =df1['门店编号'].astype(str) + '_'+ df1['兑券日期'].astype(str)+ '_' + df1['POS机号'].astype(str) + '_' + df1['流水号'].astype(str)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [107]:
df1.head()

   门店编号      兑券日期  POS机号        流水号    销售额         门店编号-兑券日期-POS机号-流水号
0  2629  20180613     27  976141690  21.44  2629_20180613_27_976141690
1  2629  20180613     27  976141690  16.03  2629_20180613_27_976141690
2  2629  20180613     27  976141690  15.00  2629_20180613_27_976141690
3  2629  20180613     27  976141690  12.60  2629_20180613_27_976141690
4  2629  20180613     27  976141690  23.70  2629_20180613_27_976141690

In [108]:
df1.drop(['门店编号','兑券日期','POS机号','流水号'], axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [109]:
df1.head()

     销售额         门店编号-兑券日期-POS机号-流水号
0  21.44  2629_20180613_27_976141690
1  16.03  2629_20180613_27_976141690
2  15.00  2629_20180613_27_976141690
3  12.60  2629_20180613_27_976141690
4  23.70  2629_20180613_27_976141690

In [113]:
df2 = df1.groupby(['门店编号-兑券日期-POS机号-流水号'])[['销售额']].sum()

In [114]:
df2.head()

                               销售额
门店编号-兑券日期-POS机号-流水号
2629_20180613_27_976141690  269.31
2629_20180614_28_82082184    72.65
2630_20180613_11_862179073  124.02
2630_20180613_13_965299215  278.81
2630_20180613_17_236316829  417.69

In [117]:
subsection = []
for i in range(int(round(max(df2['销售额'])/20)-3)):
    temp = len(df2[((68+i*20)<=df2['销售额']) & (df2['销售额']<(68+(i+1)*20))])    
    subsection.append(temp)

In [118]:
salesTitles = []
for i in range(int(round(max(df2['销售额'])/20)-3)):
    temp = str(68+i*20)+ '<= 销售额< ' + str(68+(i+1)*20)    
    salesTitles.append(temp)

In [119]:
df_sales = pd.DataFrame()  
df_sales['销售额'] = salesTitles
df_sales['数量'] = subsection

In [120]:
df_sales.head()

              销售额   数量
0    68<= 销售额< 88  115
1   88<= 销售额< 108   35
2  108<= 销售额< 128   26
3  128<= 销售额< 148   23
4  148<= 销售额< 168   14

In [121]:
#OUTPUT 

excelfilename = "20180622AnalysisData68_16.xlsx"
writer = pd.ExcelWriter(excelfilename) 
df2.to_excel(writer, 'Coupon_Sales')
df_sales.to_excel(writer, 'Subsection')

writer.save()